/* Nav */
.home-button {
  font-size: 1.8rem !important;
  letter-spacing: 0.1rem !important;
  color: rgb(250, 61, 61) !important;
}

.home-button:hover {
  color: rgb(233, 233, 233) !important;
}

#nav {
  font-size: 1.4rem !important;
}

.nav-element {
  transition: 0.7s !important;
}

.nav-element:hover {
  color: red !important;
}

/* Banner */
#banner {
  color: white;
}

.logo {
  height: 20rem;
}

.slogan {
  font-size: 1.2rem !important; /*Needed to override template*/
  color: rgb(233, 233, 233) !important; /*Needed to override template*/
  letter-spacing: 0.1rem;
}

.banner-buttons {
  transition: 0.7s !important;
}

.banner-buttons:hover {
  color: white !important;
}

/* About */
.about-title {
  font-weight: 500;
}

.about-text {
  font-size: 1.3rem !important;
}

.about-image {
  max-height: 185px; /*Images are all different sizes, so need to make all same height for positioning*/
}

/*Overlay changes*/
.box.person .middle {
  transition: 0.4s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.box:hover .image {
  opacity: 0;
}

.box:hover .middle {
  opacity: 1;
}

/* Footer */
.copyright {
  font-weight: 600;
  color: red !important;
}
